---
layout: base
---

  <div id="page" class="site layout-{{ site.data.config.layout_style }} palette-{{ site.data.config.palette }}">

    {% include header.html %}

    <div id="content" class="site-content outer">
      <main id="main" class="site-main inner">

        {{ content }}

      </main><!-- .site-main -->
    </div><!-- .site-content -->

    {% assign has_subscribe_is_not_empty = site.data.config.footer.has_subscribe | is_not_empty %}
    {% if has_subscribe_is_not_empty %}
      {% include subscribe.html %}
    {% endif %}

    {% include footer.html %}

  </div><!-- .site -->
