---
layout: body
---

<article class="post page post-full">
  <header class="post-header inner-md">
    <h1 class="post-title">{{ page.title }}</h1>
    {% assign subtitle_is_not_empty = page.subtitle | is_not_empty %}
    {% if subtitle_is_not_empty %}
    <div class="post-subtitle">
      {{ page.subtitle }}
    </div><!-- .post-subtitle -->
    {% endif %}
  </header><!-- .post-header -->
  {% assign img_path_is_not_empty = page.img_path | is_not_empty %}
  {% if img_path_is_not_empty %}
  <div class="post-thumbnail">
    <img class="thumbnail" src="{{ page.img_path | relative_url }}" alt="{{ page.img_alt }}" />
  </div>
  {% endif %}
  <div class="post-content inner-md">

    {{ content }}

    <form name="{{ page.form_id }}" id="{{ page.form_id }}" {% assign form_action_is_not_empty = page.form_action | is_not_empty %}{% if form_action_is_not_empty %} action="{{ page.form_action }}" {% endif %}method="POST" data-netlify="true" data-netlify-honeypot="bot-field">
      <div class="screen-reader-text">
        <label>Don't fill this out if you're human: <input name="bot-field" /></label>
      </div>
      <input type="hidden" name="form-name" value="{{ page.form_id }}" />
      {% for field in page.form_fields %}
        
        {% include form_field.html field=field %}
      {% endfor %}
      <div class="form-submit">
        <button type="submit" class="button">{{ page.submit_label }}</button>
      </div>
    </form>

  </div><!-- .post-content -->
</article><!-- .post -->
